*
{
	padding:0;
	margin:0;
	
}
body
{
	background-image:url(forest.jpg);
	background-size:cover;
	background-position:center;
	box-sizing:border-box;
	font-family:sans-serif;
	
}
.logo{
	width:80px;
	position:absolute;
	top:3%;
	left:2%;
}


.menu-bar, .menu-bar2
{
	background:rgb(0,0,0);
	text-align:center;
	
	
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;
	
	
}
.menu-bar ul li
{
	width:120px;
	margin:15px;
	padding:15px;
	
}
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
	
}
.active,.menu-bar ul li:hover
{
	background: #2bab0d;

	border-radius:3px;
}
.sub-menu1
{
	display:none;
}
.sub-menu2
{
	display:none;
}
.menu-bar ul li:hover .sub-menu1
{
	display:block;
	position:absolute;
	background:transparent;

	margin-top:15px;
	margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu2
{
	display:block;
	position:absolute;
	background:transparent;

	margin-top:15px;
	margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu1 ul
{
	display:block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu2 ul
{
	display:block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu1 ul li
{
	width:80px;
	padding:10px;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu2 ul li
{
	width:80px;
	padding:10px;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
	color:rgb(255,175,110);
}
.menu-bar ul li:hover .sub-menu2 ul li a:hover
{
	color:rgb(255,175,110);
}
p
{
	font-family:Tempus Sans ITC;
	
	font-size:20;
}
footer
 {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
 }