:root{

    --headerColor:#4E5BA6;
    --borderColor:#A8AEBF;
    --mainColor:#F0F1F2;
    --extraColor:#04BF7B;
    --buttonColor:#04D976;


}

/*

buttons
main
headders
text

*/


*{
    font-family: "Exo 2";
}

body{
    background-image:url("../../images/Admin/log-in2.jpg");
    max-height: available;
    max-width: available;


}

#Loginbody{
    opacity: 0.8;
    border-radius: 0.9;
}

#loginHeader{
    background-color: var(--mainColor);
    color: black;
}

#loginButton input{
    background-color:black;
}

#loginBody{
    background-color: var(--mainColor);

}

.loginInputs input{
    background-color: black;
}

/*
login erros
 */

#adminLoginAlert{
    background-color: red;
    text-align: center;
}

#adminLoginAlert pre{
    color: white;

}